<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>After parse</h1>
        {% if data == True %}
            <a href="{% url 'parser:cars_list' %}"> ok , you can see list </a>
        {% else %}
            <a href="{% url 'parser:car_info' %}"> try to parse </a>
        {% endif %}
    </center>

</body>
</html>